<form [formGroup]="form" (ngSubmit)="save()">
	<div class="col-xs-6">
		<h1>Nova Venda</h1>
		<div class="form-group">
			<label for="customer">Cliente</label>
			<select formControlName="customer" class="form-control" [compareWith]="compareFn">
				<option [ngValue]=null>Selecione</option>
				<option [ngValue]="customer" *ngFor="let customer of customers">
					{{customer.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="stock">Veículos</label>
			<select multiple formControlName="stock" class="form-control" [compareWith]="compareFn">
				<option [ngValue]="stock" *ngFor="let stock of stocks">{{stock.vehicle.name+' '+stock.color.name+': R$'+stock.price}}</option>
			</select>
		</div>
		<button class="btn btn-success">Enviar</button>
		<button routerLink="/sale" class="btn btn-danger">Cancelar</button>
	</div>
</form>