<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
		    <form action="#" th:action="@{/customer}" th:object="${customer}" method="post">
		        <input type="hidden" th:field="*{id}"/>
		        <div class="col-xs-6">
		        	<h1>Novo Cliente</h1>
		        	<div class="form-group">
		        		<label>Nome</label>
		        		<input class="form-control" type="text" th:field="*{name}" />
		        	</div>
		        	<div class="form-group">
		        		<label>Tipo</label>
		        		<select class="form-control" th:field="*{personType}">
					        <option th:each="pt : ${personTypes}" th:value="${pt.id}" th:text="${pt.id == 1 ? 'Física' : 'Jurídica'}" selected="selected"></option>
				        </select>
		        	</div>
			        <input class="btn btn-success" type="submit" value="Enviar" />
			        <a th:href="@{/customer}" class="btn btn-danger">Cancelar</a>
		        </div>
		    </form>
	 	</div>
	</body>
</html>