<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="pull-right" style="margin-top: 5px;">
				<div class="col-md-12">
					<a th:href="@{/customer/create}" class="btn btn-success">
						Adicionar
					</a>
				</div>
			</div>
			<div class="col-xs-12">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Nome</th>
				      <th scope="col">Tipo de Pessoa</th>
				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<th:block th:each="customer : ${customers}">
					  <tr>
						    <td th:text="${customer.id}"></td>
						    <td th:text="${customer.name}"></td>
						    <td th:text="${customer.personType == 1 ? 'Física' : 'Jurídica'}"></td>
						    <td>
						    	<a th:href="@{/customer/edit/{id}(id=${customer.id})}">Editar</a>
						    	/ <a th:href="@{/customer/delete/{id}(id=${customer.id})}">Deletar</a>
						    </td>
					  </tr>
				  	</th:block>
				  </tbody>
				</table>
			</div>
		</div>
	</body>
</html>