<form  [formGroup]="form" (ngSubmit)="save()">
	<div class="col-xs-6">
		<h1>Novo Cliente</h1>
		<div class="form-group">
			<label for="name">Nome</label>
			<input formControlName="name" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label for="personType">Tipo</label>
			<select formControlName="personType" class="form-control">
				<option [value]= null>Selecione</option>
				<option [value]="personType.id"
					*ngFor="let personType of personTypes">
					{{personType.type}}
					</option>
			</select>
		</div>
		<button class="btn btn-success">Enviar</button>
		<button routerLink="/customer" class="btn btn-danger">Cancelar</button>
	</div>
</form>