<div class="pull-right" style="margin-top: 5px;">
	<div class="col-md-12">
		<a routerLink="/customer/edit" class="btn btn-success">
			Adicionar
		</a>
	</div>
</div>
<div class="col-xs-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nome</th>
				<th scope="col">Tipo de Pessoa</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
				<tr *ngFor="let customer of customers">
					<td>{{customer.id}}</td>
					<td>{{customer.name}}</td>
					<td>{{customer.personType == 1 ? 'Física' : 'Jurídica'}}</td>
					<td><a routerLink="/customer/edit/{{customer.id}}">Editar</a>
						/ <a (click)="delete(customer)" role="button">Deletar</a>
					</td>
				</tr>
		</tbody>
	</table>
</div>