<div class="col-xs-6">
	<form [formGroup]="form" (ngSubmit)="save()">
		<h1>Nova Montadora</h1>
		<div class="form-group">
			<label for="name">Nome</label>
			<input formControlName="name" type="text" class="form-control"/>
		</div>
		<button type="submit" class="btn btn-success">Enviar</button>
		<button routerLink="/automaker" class="btn btn-danger"> Cancelar</button>
	</form>
</div>
