<div class="pull-right" style="margin-top: 5px;">
	<div class="col-md-12">
		<a routerLink="/automaker/edit" class="btn btn-success"> Adicionar
		</a>
	</div>
</div>
<div class="col-xs-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nome</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let automaker of automakers">
				<td>{{automaker.id}}</td>
				<td>{{automaker.name}}</td>
				<td><a routerLink="/automaker/edit/{{automaker.id}}">Editar</a>
					/ <a (click)="delete(automaker)" role="button">Deletar</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
