<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
		    <form action="#" th:action="@{/stock}" th:object="${stock}" method="post">
		       <input type="hidden" th:field="*{id}"/>
		       <div class="col-xs-6">
			       <h1>Novo Estoque</h1>
			       <div class="form-group">
				       	<label>Veículo</label>
				       	<select class="form-control" th:field="*{vehicle}">
				        	<option th:each="vc : ${vehicles}" th:value="${{vc}}" th:text="${vc.name}" selected="selected"></option>
				        </select>
			       </div>
			       <div class="form-group">
			       		<label>Cor</label>
			       		<select class="form-control" th:field="*{color}">
				        	<option th:each="cl : ${colors}" th:value="${{cl}}" th:text="${cl.name}" selected="selected"></option>
				        </select>
			       </div>
			       <div class="form-group">
			       		<label>Preço</label>
			       		<input class="form-control" type="text" th:field="*{price}" />
			       </div>
			       <div class="form-group">
			       		<label>Chassi</label>
			       		<input class="form-control" type="text" th:field="*{chassis}" />
			       </div>
			       <div class="form-group">
			       		<label>Placa</label>
			       		<input class="form-control" type="text" th:field="*{licensePlate}" />
			       </div>
			       <input class="btn btn-success" type="submit" value="Submit" />
			       <a th:href="@{/stock}" class="btn btn-danger">Cancelar</a>
		       </div>
		    </form>
	    </div>
	</body>
</html>