<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="pull-right" style="margin-top: 5px;">
				<div class="col-md-12">
					<a th:href="@{/stock/create}" class="btn btn-success">
						Adicionar
					</a>
				</div>
			</div>
			<div class="col-xs-12">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Veículo</th>
				      <th scope="col">Cor</th>
				      <th scope="col">Preço</th>
				      <th scope="col">Chassis</th>
				      <th scope="col">Placa</th>
				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<th:block th:each="stock : ${stocks}">
						  <tr>
							    <td th:text="${stock.id}"></td>
							    <td th:text="${stock.vehicle.name}"></td>
							    <td th:text="${stock.color.name}"></td>
							    <td th:text="${stock.price}"></td>
							    <td th:text="${stock.chassis}"></td>
							    <td th:text="${stock.licensePlate}"></td>
							    <td>
							    	<a th:href="@{/stock/edit/{id}(id=${stock.id})}">Editar</a>
							    	/ <a th:href="@{/stock/delete/{id}(id=${stock.id})}">Deletar</a>
							    </td>
						  </tr>
					  </th:block>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>