<form [formGroup]="form" (ngSubmit)="save()">
	<div class="col-xs-6">
		<h1>Novo Estoque</h1>
		<div class="form-group">
			<label for="vehicle">Veículo</label>
			<select formControlName="vehicle" class="form-control" [compareWith]="compareFn">
				<option [ngValue]=null>Selecione</option>
				<option [ngValue]="vehicle" *ngFor="let vehicle of vehicles">{{vehicle.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="color">Cor</label>
			<select formControlName="color" class="form-control"  [compareWith]="compareFn">
				<option [ngValue]=null>Selecione</option>
				<option [ngValue]="color" *ngFor="let color of colors">{{color.name}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="price">Preço</label>
			<input formControlName="price" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label for="chassis">Chassi</label>
			<input formControlName="chassis" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label for="licensePlate">Placa</label>
			<input formControlName="licensePlate" class="form-control" type="text"/>
		</div>
		<button class="btn btn-success">Enviar</button>
		<button routerLink="/stock" class="btn btn-danger">Cancelar</button>
	</div>
</form>