<div class="pull-right" style="margin-top: 5px;">
	<div class="col-md-12">
		<a routerLink="/stock/edit" class="btn btn-success"> Adicionar </a>
	</div>
</div>
<div class="col-xs-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Veículo</th>
				<th scope="col">Cor</th>
				<th scope="col">Preço</th>
				<th scope="col">Chassis</th>
				<th scope="col">Placa</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let stock of stocks">
				<td>{{stock.id}}</td>
				<td>{{stock.vehicle.name}}</td>
				<td>{{stock.color.name}}</td>
				<td>{{stock.price}}</td>
				<td>{{stock.chassis}}</td>
				<td>{{stock.licensePlate}}</td>
				<td><a routerLink="/stock/edit/{{stock.id}}">Editar</a>
					/ <a (click)="delete(stock)" role="button">Deletar</a></td>
			</tr>
		</tbody>
	</table>
</div>