<div id='cssmenu'>
	<ul>
	   <li id="home" routerLinkActive="active"><a routerLink="/home"><span>Home</span></a></li>
	   <li id="automaker" routerLinkActive="active"><a routerLink="/automaker"><span>Montadora</span></a></li>
	   <li id="vehicle" routerLinkActive="active"><a routerLink="/vehicle"><span>Veículo</span></a></li>
	   <li id="stock" routerLinkActive="active"><a routerLink="/stock"><span>Estoque</span></a></li>
	   <li id="sale" routerLinkActive="active"><a routerLink="/sale"><span>Vendas</span></a></li>
	   <li id="customer" routerLinkActive="active" class='last'><a routerLink="/customer" routerLinkActive="active"><span>Cliente</span></a></li>
	</ul>
</div>
<router-outlet></router-outlet>
