<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="UTF-8" />
	<title>Dealership</title>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" th:href="@{/css/menu.css}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/animate.css}"/>
</head>
<body>
   <nav th:fragment="navbar">
   		<div id='cssmenu'>
			<ul>
			   <li id="home" class='active'><a th:href="@{/}"><span>Home</span></a></li>
			   <li id="automaker"><a th:href="@{/automaker}"><span>Montadora</span></a></li>
			   <li id="vehicle"><a th:href="@{/vehicle}"><span>Veículo</span></a></li>
			   <li id="stock"><a th:href="@{/stock}"><span>Estoque</span></a></li>
			   <li id="sale"><a th:href="@{/sale}"><span>Vendas</span></a></li>
			   <li id="customer" class='last'><a th:href="@{/customer}"><span>Cliente</span></a></li>
			</ul>
		</div>
   </nav>
   <div th:fragment="footer">
	   	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	   	<script th:src="@{/js/bootstrap.min.js}"></script>
	   	<script th:src="@{/js/bootstrap-notify.min.js}"></script>
	   	<script th:src="@{/js/menu.js}"></script>
	   	<script th:inline="javascript">
		/*<![CDATA[*/
		
		    let response = /*[[${response}]]*/ 'default';
		    if(response){
		    	$.notify({
		    		// options
		    		message: response.message 
		    	},{
		    		// settings
		    		type: response.status,
		    		delay: 3000,
		    		allow_dismiss: true,
		    		animate: {
		    			enter: 'animated fadeInDown',
		    			exit: 'animated fadeOutUp'
		    		}
		    	});
			}
		
		/*]]>*/
		</script>
		<script th:inline="javascript">
			$(document).ready(()=>{

				let path = window.location.pathname;
				let view = path.split("/")[1];

				if(view.length > 0){
					$(".active").removeClass("active");
					$("#"+view).addClass("active");
				}
			});
		</script>
   </div>
</body>
</html>