<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
		    <form action="#" th:action="@{/vehicle}" th:object="${vehicle}" method="post">
		       <input type="hidden" th:field="*{id}"/>
		       <div class="col-xs-6">
			       <h1>Novo Veículo</h1>
			       <div class="form-group">
			       		<label>Nome</label>
			       		<input class="form-control" type="text" th:field="*{name}" />
			       </div>
			       <div class="form-group">
			       		<label>Montadora</label>
				       	<select class="form-control" th:field="*{automaker}">
				        	<option th:each="am : ${automakers}" th:value="${{am}}" th:text="${am.name}" selected="selected"></option>
				        </select>
			       </div>
			       <input class="btn btn-success" type="submit" value="Submit" />
			       <a th:href="@{/vehicle}" class="btn btn-danger">Cancelar</a>
		       </div>
		    </form>
	    </div>
	</body>
</html>