<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="pull-right" style="margin-top: 5px;">
			<div class="col-md-12">
				<a th:href="@{/vehicle/create}" class="btn btn-success">
					Adicionar
				</a>
			</div>
		</div>
		<div class="col-xs-12">
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Nome</th>
			      <th scope="col">Montadora</th>
			      <th scope="col">Ações</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<th:block th:each="vehicle : ${vehicles}">
				  <tr>
					    <td th:text="${vehicle.id}"></td>
					    <td th:text="${vehicle.name}"></td>
					    <td th:text="${vehicle.automaker.name}"></td>
					    <td>
					    	<a th:href="@{/vehicle/edit/{id}(id=${vehicle.id})}">Editar</a>
					    	/ <a th:href="@{/vehicle/delete/{id}(id=${vehicle.id})}">Deletar</a>
					    </td>
				  </tr>
				 </th:block>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>