<div class="pull-right" style="margin-top: 5px;">
	<div class="col-md-12">
		<a routerLink="/vehicle/edit" class="btn btn-success"> Adicionar
		</a>
	</div>
</div>
<div class="col-xs-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Nome</th>
				<th scope="col">Montadora</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
				<tr *ngFor="let vehicle of vehicles">
					<td>{{vehicle.id}}</td>
					<td>{{vehicle.name}}</td>
					<td>{{vehicle.automaker.name}}</td>
					<td><a routerLink="/vehicle/edit/{{vehicle.id}}">Editar</a>
						/ <a (click)="delete(vehicle)" role="button">Deletar</a>
					</td>
				</tr>
		</tbody>
	</table>
</div>