<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
		    <form action="#" th:action="@{/automaker}" th:object="${automaker}" method="post">
		        <input type="hidden" th:field="*{id}"/>
		        <div class="col-xs-6">
		        	<h1>Nova Montadora</h1>
			        <div class="form-group">
			        	<label>Nome</label>
			        	<input class="form-control" type="text" th:field="*{name}" />
			        </div>
			        <input class="btn btn-success" type="submit" value="Enviar" /> 
			        <a th:href="@{/automaker}" class="btn btn-danger" >Cancelar</a>
		        </div>
		    </form>
		</div>
	</body>
</html>