<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="pull-right" style="margin-top: 5px;">
				<div class="col-md-12">
					<a th:href="@{/automaker/create}" class="btn btn-success">
						Adicionar
					</a>
				</div>
			</div>
			<div class="col-xs-12">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Nome</th>
				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<th:block th:each="automaker : ${automakers}">
					  <tr>
					    <td th:text="${automaker.id}"></td>
					    <td th:text="${automaker.name}"></td>
					    <td>
					    	<a th:href="@{/automaker/edit/{id}(id=${automaker.id})}">Editar</a>
					    	/ <a th:href="@{/automaker/delete/{id}(id=${automaker.id})}">Deletar</a>
					    </td>
					  </tr>
				  	</th:block>
				  </tbody>
				</table>
			</div>
		</div>
	</body>
</html>