<div class="pull-right" style="margin-top: 5px;">
	<div class="col-md-12">
		<a routerLink="/sale/edit" class="btn btn-success"> Adicionar </a>
	</div>
</div>
<div class="col-xs-12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Cliente</th>
				<th scope="col">Produtos</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let sale of sales">
				<td>{{sale.id}}</td>
				<td>{{sale.customer.name}}</td>
				<td style="overflow-y: scroll; overflow-x: hidden;">
					<p *ngFor="let stock of sale.stock">{{stock.vehicle.name+' - '+stock.color.name}}</p>
				</td>
				<td><a routerLink="/sale/edit/{{sale.id}}">Editar</a>
					/ <a (click)="delete(sale)" role="button">Deletar</a></td>
			</tr>
		</tbody>
	</table>
</div>