<form [formGroup]="form" (ngSubmit)="save()">
	<div class="col-xs-6">
		<h1>Novo Veículo</h1>
		<div class="form-group">
			<label for="name">Nome</label>
			<input formControlName="name" class="form-control" type="text"/>
		</div>
		<div class="form-group">
			<label for="automaker">Montadora</label>
			<select formControlName="automaker" [compareWith]="compareFn"
			 class="form-control">
				<option [ngValue]= null>Selecione</option>
				<option [ngValue]="automaker"
					*ngFor="let automaker of automakers">
					{{automaker.name}}</option>
			</select>
		</div>
		<button class="btn btn-success">Enviar</button>
		<button routerLink="/vehicle" class="btn btn-danger">Cancelar</button>
	</div>
</form>