<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
		    <form action="#" th:action="@{/sale}" th:object="${sale}" method="post">
		       <div class="col-xs-6">
			       	<input type="hidden" th:field="*{id}"/>
			       <h1>Nova Venda</h1>
			       <div class="form-group">
				       	<label>Cliente</label>
				       	<select class="form-control" th:field="*{customer}">
				        	<option th:each="ct : ${customers}" th:value="${{ct}}" th:text="${ct.name}" selected="selected"></option>
				        </select>
			       </div>
			       <div class="form-group">
			       		<label>Veículos</label>
				       	<select class="form-control" th:field="*{stock}" multiple="multiple">
				        	<option th:each="st : ${stocks}" th:value="${{st}}" th:text="${st.vehicle.name}+' '+${st.color.name}+': R$'+${st.price}" selected="selected"></option>
				        </select>
			       </div>
			       <input class="btn btn-success" type="submit" value="Enviar" /> 
			       <a th:href="@{/sale}" class="btn btn-danger">Cancelar</a>
		       </div>
		    </form>
	    </div>
	</body>
</html>