<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="pull-right" style="margin-top: 5px;">
				<div class="col-md-12">
					<a th:href="@{/sale/create}" class="btn btn-success">
						Adicionar
					</a>
				</div>
			</div>
			<div class="col-xs-12">
				<table class="table table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Id</th>
				      <th scope="col">Cliente</th>
				      <th scope="col">Produtos</th>
				      <th scope="col">Ações</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<th:block th:each="sale : ${sales}">
						  <tr>
							    <td th:text="${sale.id}"></td>
							    <td th:text="${sale.customer.name}"></td>
							    <td style="overflow-y: scroll;overflow-x: hidden;">
							    	<th:block th:each="stock : ${sale.stock}">
							    		<p th:text="${stock.vehicle.name}+' - '+${stock.color.name}"></p>
							    	</th:block>
							    </td>
							    <td>
							    	<a th:href="@{/sale/edit/{id}(id=${sale.id})}">Editar</a>
							    	/ <a th:href="@{/sale/delete/{id}(id=${sale.id})}">Deletar</a>
							    </td>
						  </tr>
					  </th:block>
				  </tbody>
				</table>
			</div>
		</div>
	</body>
</html>